h1{
    color: aqua;
    background-color: red;
}
p{color: beige;
    background-color: white;
}
body{
    background-color:red;
}
p{
    color: black;
    background-color: red;


}
img{
    width: 300px;
}
